{% extends "default.twig" %}
{% block pageId %}404{% endblock %}

{% block title %}Página não encontrada | {{ parent() }}{% endblock %}

{% block content %}

    <h1>Página não encontrada</h1>

{% endblock %}