# Apenas para quando não for possível fazer a instalação correta
# Descomente as próximas linhas

RewriteEngine On

# WP
RewriteRule ^blog/?(.*)$ blog/$1 [NC,L]

# Sistema de Estoque
RewriteBase /

RewriteCond %{THE_REQUEST} /public/([^\s?]*) [NC]
RewriteRule ^ %1 [L,NE,R=302]

RewriteRule ^((?!public/).*)$ public/$1 [L,NC]