body {
    padding: 20px;
}

pre {
    margin-bottom: 20px;
}

.header {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
}

#return {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #e5e5e5;
}

#submit {
    position: relative;
    -webkit-transition: min-width .5s ease;
    -moz-transition: min-width .5s ease;
    transition: min-width .5s ease;
    min-width: 100px;
}

#submit .wait {
    position: absolute;
    top: 9px;
    left: 12px;
    opacity: 0;
    -webkit-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
    -webkit-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
    transition: opacity .5s ease;
}

#submit.active {
    min-width: 0;
}

#submit.active .wait {
    opacity: 1;
}

#submit.active .finished {
    opacity: 0;
}

#submit.active .text {
    display: none;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

/**
 * BEAUTIFY
 */
#returnBeautify {
    padding: 20px 0;
}

small {
    color: #999;
}

b.field {
    font-weight: bold;
    text-shadow: 1px 0 1px #eee, -1px 0 1px #eee, 0 1px 1px #eee, 0 -1px 1px #eee;
}

small::before {
    content: '// ';
}

.grupo, .item {
    display: block;
    list-style: none;
    margin: 5px 0;
}

.grupo {
    margin: 0;
    font: 14px Menlo, Monaco, Consolas, "Courier New", monospace;
    line-height: 20px;
}

.grupo::before {
    cursor: pointer;
}

.grupo.array::before {
    content: '▼ [';
    display: block;
    margin-left: -20px;
}

.grupo.array::after {
    content: '  ]';
    display: block;
    margin-left: -20px;
}

.grupo.object::before {
    content: '▼ {';
    display: block;
    margin-left: -20px;
}

.grupo.object::after {
    content: '  }';
    display: block;
    margin-left: -20px;
}

.grupo.closed::after, .grupo.closed::before {
    display: inline;
}

.grupo.closed::after {
    margin-left: 0;
}

.grupo.array.closed::before {
    content: '► [  ...';
}

.grupo.object.closed::before {
    content: '► {  ...';
}

.string {
    color: #0e0b74;
}

.number {
    color: #853191;
    font-weight: bold;
}

.boolean {
    color: #9b0909;
    font-weight: bold;
}

.boolean.true {
    color: #2c9b17;
    font-weight: bold;
}

.null {
    color: #999;
    font-weight: bold;
}

#predefinedCode {
    margin: 0 -2px -2px;
    font: 12px Menlo, Monaco, Consolas, "Courier New", monospace;
    background-color: #f0f7ee;
}

#restGroup {
    display: none;
}